name: Build Container
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-debian:
    uses: ./.github/workflows/build-docker.yaml
    with:
      dockerfile: "debian.Dockerfile"
      image_name: "debian"
